<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark-emphasis text-light navbar-light">
    <ul class="navbar navbar-nav">
      <li>

      </li>
      <li>
      <button (click)="onGetAllProduit()" class="btn btn-outline-info me-2 m-2">Tous</button>
      </li>
      <li>
        <button (click)="onGetSelectedProduit()" class="btn btn-outline-info me-2">Selectionné</button>
      </li>
      <li>
        <button (click)="onGetAvailableProduit()" class="btn btn-outline-info me-2">Disponible</button>
      </li>
      <li>
        <button (click)="onGetNewProduit()" class="btn btn-outline-info me-2">Ajouter</button>
      </li>  
    </ul>
    <form #f="ngForm" (ngSubmit)="onGetSearch(f.value)" class="d-flex">
      <input ngModel name="keyword" class="form-control me-2 " type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success">
        <span class="fa fa-search"></span>
      </button>
    </form>
  </nav>
  <div class="container-fluid">
    <ng-container *ngIf="produits$ | async as result" [ngSwitch]="result.dataState">
      <ng-container *ngSwitchCase="DataStateEnum.LOADING">
        <div class="text-center h2">
          <br><br><br><br>
          Loading ..........
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.ERROR">
        <div class="col-12 text-center">
          <div class="alert alert-danger">
            {{ result.errorMessage }}
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.LOADED">
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Désignation</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Sélectioné</th>
            <th>Disponible</th>
            <th>Statut selection</th>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
            <tr *ngFor="let p of result.data">
              <td>{{p.id}}</td>
              <td>{{p.designation}}</td>
              <td>{{p.prix}}</td>
              <td>{{p.quantite}}</td>
              <td>{{p.selected}}</td>
              <td>{{p.available}}</td>
              <td>
                <button (click)="onSelected(p)" [ngClass]="p.selected?'btn-success':'btn-danger'" class="btn btn-sm col-7">
                  <span *ngIf="p.selected" class="text-danger">Désélectionné</span>
                  <span *ngIf="!p.selected" class="text-success">Sélectionné</span>
                </button>
              </td>
              <td>
                <button (click)="onEditProduit(p)" class="btn btn-danger btn-sm">
                  <span class="fa fa-edit text-warning "></span>
                </button>
              </td>
              <td>
                <button (click)="onDeletProduit(p)" class="btn btn-danger btn-sm">
                  <span class="fa fa-trash-o text-danger"></span>
                </button>
              </td>
            </tr>
        </table>
      </ng-container>
    </ng-container>
</div>
</div>
